[submodule "external/CrossWindow"]
	path = external/CrossWindow
	url = https://github.com/alaingalvan/CrossWindow.git
[submodule "external/CrossWindow-Graphics"]
	path = external/CrossWindow-Graphics
	url = https://github.com/alaingalvan/CrossWindow-Graphics.git
[submodule "external/vectormath"]
	path = external/vectormath
	url = https://github.com/glampert/vectormath.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/tinyexr"]
	path = external/tinyexr
	url = https://github.com/syoyo/tinyexr.git
